h1 {
    color:white;
    background-color:pink;
    font-weight:700;
    font-family:"Lucida Console","Courier New",Monospace;
    text-align:center;
}

li {
    font-size:30px;
    color:white;
}

body {
    background-color:salmon;
}